#discountModifyRow{
    height: 35px;
    width: 1200px;
}

#discountModifyCol{
    height: 35px;
}

#discountModifyText {
    position: relative;
    top: 5px;
    left: 25px;
}

#discountModifyInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#discountModifyRemindText{
    position: relative;
    left: 10px;
}

#discountModifyButtonText{
    margin: 0 auto; 
    text-align: center;

    
}

#discountModifyFinishModifyButton{
    top: 5px;
}